<h1>Stupid coaching</h1>

<div class="quote">
<p class ='question'><%= @question %><br><i>- You</i></p>
</div>
<br>
<div class='quote'>
<p class='answer'><strong><%= @coach_answer %></strong><br><i>- Your coach</i></p>
</div>
<br>
<%= link_to 'Ask another question', '/ask' %>